# Regression Miniproject
In this tutorial we will discuss how we can make a regression model and integrate it using flask for front end. Moreover we will also see how to host this model for free to make it useful for everyone.

## Car Price Prediction
We will be predicting car price based on various features or independent variable such as:-<br>
1)Name<br>
2)Year<br>
3)km_driven<br>
4)fuel<br>
5)seller_type<br>
6)transmission<br>
7)Owner<br>

Here the output of the model will be car's selling price.<br>
Let's start the project with importing dataset.
## Importing Libraries

In [44]:
import numpy as np
import pandas as pd

In [45]:
# Importing the dataset
dataset = pd.read_csv('car_data.csv')
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [46]:
X = dataset.iloc[:, [1,3,4,5,6,7]].values
y = dataset.iloc[:, 2].values

In [47]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
lb = LabelEncoder()
X[:,2]=lb.fit_transform(X[:,2])
lb1 = LabelEncoder()
X[:,3]=lb1.fit_transform(X[:,3])
lb2 = LabelEncoder()
X[:,4]=lb2.fit_transform(X[:,4])
lb3 = LabelEncoder()
X[:,5]=lb3.fit_transform(X[:,5])

In [48]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

print(X_train[1:15,:])

[[2012 170000 1 1 1 0]
 [2006 110000 4 1 1 0]
 [2015 66521 4 2 1 0]
 [2016 41000 4 0 1 0]
 [2006 66508 4 1 1 2]
 [2015 45974 1 2 1 0]
 [2012 120000 1 1 1 0]
 [2012 49000 4 0 1 0]
 [2013 100000 4 1 1 0]
 [2014 141000 1 1 1 2]
 [2017 64000 1 0 1 0]
 [2014 40000 1 0 1 0]
 [2002 70000 4 1 1 2]
 [2013 54000 1 0 1 0]]

In [49]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=300,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [50]:
accuracy = regressor.score(X_test,y_test)
print(accuracy*100,'%')

73.04865719110919 %

In [60]:
new_data=[2007,50000,"Petrol","Individual","Manual","First Owner"]
new_data[2]=lb.transform([new_data[2]])[0]
new_data[3]=lb1.transform([new_data[3]])[0]
new_data[4]=lb2.transform([new_data[4]])[0]
new_data[5]=lb3.transform([new_data[5]])[0]

In [61]:
new_data

[2007, 50000, 4, 1, 1, 0]

In [62]:
regressor.predict([new_data])

array([130626.87301587])

In [63]:
y[1]

135000